* {
  transition: 0.2s all;
}

#hero {
  background-color: lightblue;
  background-size: cover;
  background-position: 0 20%;
  height: 12vw;
}

footer {
  background-color: lightblue;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  position: fixed;
}

#skills a {
  padding: 15px 5px;
}

.title-body {
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  width: fit-content;
}