* {
  transition: 0.2s all;
}

footer {
  background-color: lightblue;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  position: fixed;
}

.title-body {
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  width: fit-content;
}

#hero {
  background-color: lightblue;
  background-position: 0 20%;
  height: fit-content;
  padding: 20px;
}

#skills a img:hover {
  transform: scale(1.5);
}